#l1{
    display: block;
    font-size: 100px;
    text-align: center;
    color: red;
}
#decrease{
    margin-top: 10px;
    margin-left: 450px;
    font-size: 50px;
    cursor: pointer;
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
}
#increase{
    font-size: 50px;
    cursor: pointer;
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
}
#reset{
    font-size: 50px;
    cursor: pointer;
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
}